@include selection {
  background: $theme-color;
  color: $white;
}


@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}

html,
body {
  overflow-x: hidden;
}

html {
  font-family: $font-serif;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-rendering:optimizelegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  font-weight: 400;
  color: $title-color;
  letter-spacing: -.025rem;
}

p, ul, li {
  font-family: 'Nanum Gothic', Sans-Serif;
}

code {
  color: #666;
}
